.game{
    border: 2px solid rgb(231, 219, 219);
    width: 110%;
    border-radius: 10px;
}

.ticket{
    border: 2px solid rgb(231, 219, 219);
    border-radius: 50px;
    width:90%;
    margin-left: 20px;

}